@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

:root {
  --primary-color: #4a81e6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: blue;
}

body {
  font-family: "Lato", sans-serif;
  color: #333;
  line-height: 1.6;
}

section {
  padding: 10px;
}
