/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: blue;
} */

body {
  font-family: "Lato", sans-serif;
  color: #333;
  line-height: 1.6;

  background-color: red;
}

section {
  padding: 10px;
}

h1 {
  color: blue;
}
