<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Index</title>
    </head>

    <body>
        <!-- NAV -->
        <!-- ToDo nav / setcion checken -->
        <section class="navbar">
            <nav>
                <a href="/index">Index</a>
                <a href="/registration">Registration</a>
            </nav>
        </section>

        <!-- MAIN -->
        <main class="main">
            <form method="post">
                <input type="text" name="username" id="user" placeholder="Username">
                <input type="text" name="password" id="passwd" placeholder="Password">
                <button type="submit">Login</button>
            </form>
        </main>

        <!-- FOOTER -->
    </body>
</html>