<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>

    <body>
        <!-- NAV -->
        <!-- ToDo nav / setcion checken -->
        <section class="navbar">
            <nav>
                <a href="/index">Index</a>
                <a href="/registration">Registration</a>
            </nav>
        </section>

        <!-- MAIN -->
        <main class="main">
            <br>
            {{ if . }}
                <div class="error"> {{ . }}</div>
            {{ end }}
            <br>
            
            <form method="post">
                <input type="text" name="username" id="user" placeholder="Email">
                <input type="text" name="password" id="passwd" placeholder="Password">
                <button type="submit">Login</button>
            </form>
        </main>

        <!-- FOOTER -->
    </body>
</html>