<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Profile</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css"/>
    </head>

    <body>
        <!-- NAV -->
        <section class="navbar">
            <nav>
                <a href="/logout">Logout</a>
            </nav>
        </section>

        <!-- MAIN -->
        <section class="main">
            
            <br>
            <h1>Hello {{ .User.GetUserName }}</h1>
            <!-- <ul>
                {{ range .Users }}
                    <li>{{ .Users.GetUserName }}</li>
                {{ end }}
            </ul> -->
        </section>

        <!-- FOOTER -->
        <section class="footer">

        </section>
    </body>
</html>