<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Tickets</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css"/>
    </head>

    <body>
        <!-- NAV -->
        <section class="navbar">
            <nav>
                <a href="/{profile}">Profile</a>
            </nav>
        </section>

        <!-- MAIN -->
        <section class="main">
            <br>
            {{ if . }}
                <div class="error"> {{ . }}</div>
            {{ end }}
            <br>
            <h1>Create Tickets</h1>

            <form method="post">
                <input type="text" name="name" id="ticketName">
                <select name="bugtype" id="ticketBugtype">
                    {{ range .BugTypes }}
                        <option value="{{ .GetBugTypeAcronym }}">{{ .GetBugTypeAcronym }}</option>
                    {{ end }}
                </select>
                <input type="text" name="status" id="ticketStatus">
                <button type="submit">Create New Ticket</button>
            </form>
        </section>

        <!-- FOOTER -->
    </body>
</html>